NEXT_PUBLIC_API_BASE_URL=http://localhost:5080

AUTH_MICROSOFT_ENTRA_ID_ID=<WEB_CLIENT_ID>
AUTH_MICROSOFT_ENTRA_ID_SECRET=<WEB_CLIENT_SECRET>
AUTH_MICROSOFT_ENTRA_ID_ISSUER=https://login.microsoftonline.com/<TENANT_ID>/v2.0

ENTRA_API_SCOPE=api://<API_CLIENT_ID>/access_as_user

AUTH_SECRET=<GENERATE_WITH_openssl_rand_-base64_32>
